<div class="contenu">
  
  <div class="sectionRecherche">
    <label for="nomVille">Nom de ville</label>
    <input debounce [delay]="700" type="text" id="nomVille" class="form-control" (keyup)="onCityNameChange($event.target.value)" />
  </div>

  <div class="sectionResultat">
    <table class="table table-striped table-bordered">
      <caption class="sr-only">Tableau des résultats</caption>
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let suggestionVille of suggestionsVille" class="villeSugeree">
          <td>{{ suggestionVille.Name }}</td>
          <td>{{ suggestionVille.Latitude }}</td>
          <td>{{ suggestionVille.Longitude }}</td>
        </tr>
        <tr *ngIf="!suggestionsVille || suggestionsVille.length === 0">
          <td colspan="3" class="noResultat">Aucun résultat</td>
        </tr>
      </tbody>
    </table>
    <input type="button" (click)="precedent()" value="page précédente" *ngIf="page > 1">
    <input type="button" (click)="suivant()" value="page suivante" *ngIf="suggestionsVille && suggestionsVille.length == 25">

  </div>
</div>

<agm-map [latitude]="lat" [longitude]="long">
  <ng-container *ngFor="let suggestionVille of suggestionsVille">
    <agm-marker [latitude]="suggestionVille.Latitude.replace(',','.')" [longitude]="suggestionVille.Longitude.replace(',','.')"></agm-marker>
  </ng-container>
</agm-map>

<div class="alert alert-danger" *ngIf="afficherAlerte">
  <strong>Erreur!</strong> Une erreur s'est produite lors de l'appel au service d'obtention des suggestions de nom de villes
</div>
<input type="hidden" id="geolatitude" >
<input type="hidden" id="geolongitude" >
