input {
    max-width: 300px;
}

.contenu {
    padding: 50px
}

.sectionResultat {
    margin-top : 50px;
}

.noResultat {
    text-align: center;
}

td {
    width:33%;
}

agm-map {
    height: 500px;
}
